body{
    font-family: "Arial", "Meiryo", sans-serif;
}
h1{
    /* Google Fonts */
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* Google Fonts */
    font-size: 2rem;
    letter-spacing: 1.2em;
    text-shadow: 1px 1px 2px gray;
    border-bottom: solid 3px rgb(115,115,114);
}
html{
    font-size: 20px;
    text-align: center;
}
.decoration-1{
    color: skyblue;
}
.decoration-2{
    color: rgb(255, 192, 203);
}
#basic p{
    font-weight: bold;
}